p
{
    color: rgb(252, 113, 113)
}

h2
{
 color :rgb(0, 0, 0)
}

h1
{
    color:rgb(0, 0, 0)
}

h3
{
    color: rgb(252, 113, 113)
}

h4
{
    color:rgb(0, 0, 0)
}

.collororange
{
    color: rgb(0, 0, 0)
}

.collorpurple
{
    color :rgb(252, 113, 113)
}

.dropdown-item
{
    color: rgb(252, 113, 113)
}

.menukleur
{
    color: rgb(252, 113, 113)
}

footer 
{
    background-color:rgb(252, 113, 113)
}

.navbar
{
    background-color: rgb(0, 0, 0)
}
body
{
    background-color: rgb(248, 248, 248);
}

.bg-navbar
{
    background-color: rgb(248, 248, 248);
}

span
{
    color:rgb(0, 0, 0)
}

tekst1
{
    color: rgb(228, 241, 245);
}


